{
    "code": "bgn-pcgn-65",
    "name": "BGN/PCGN",
    "year": 1965,
    "author": "BGN/PCGN",
    "desc": "Стандарт транслітерації, затверджений Палатою США з географічних назв (BGN) та Постійним комітетом з географічних назв Великої Британії (PCGN). Протягом довгих років використовувалась Організацією Об'єднаних Націй. Наразі ця версія застаріла, її [оновили](https://geonames.nga.mil/gns/html/Romanization/ROMANIZATION%20OF%20UKRAINIAN.pdf) у 2019-му році, взявши за стандарт [транслітерацію](/?l=pasport), офіційно затверджену українським Кабміном.",
    "link": "https://en.wikipedia.org/wiki/BGN/PCGN_romanization",
    "source-link": "https://geonames.nga.mil/gns/html/Romanization/Romanization_Ukrainian.pdf",
    "from": "ukr",
    "to": "lat",

    "beforeStartDict": {
        "зг": "z·h",
        "кг": "k·h",
        "сг": "s·h",
        "тс": "t·s",
        "цг": "ts·h"
    },

    "dict": {
        "и": "y",
        "і": "i",
        
        "й": "y",

        "я": "ya",
        "є": "ye",
        "ї": "yi",
        "ю": "yu",
        
        "ґ": "g",
        "г": "h",
        "х": "kh",
        "ц": "ts",
        "щ": "shch",
        
        "ж": "zh",
        "ш": "sh",
        "ч": "ch",
        "ь": "'",
        
        "а": "a",
        "е": "e",
        "о": "o",
        "у": "u",
        
        "б": "b",
        "п": "p",
        "д": "d",
        "т": "t",
        "к": "k",
        "в": "v",
        "ф": "f",
        "з": "z",
        "с": "s",
        "л": "l",
        "м": "m",
        "н": "n",
        "р": "r"
    },

    "apostrophesSingleKeyDict": {
        "'`‘’": "\""
    },

    "substitutionForUndefinedResult" : ""
}