{
    "code": "dstu-9112-a",
    "name": "ДСТУ-9112:2021 А",
    "year": 2022,
    "desc": "Система транслітерації, що була прийнята як держстандарт 2022-го року. Значною мірою походить від [ISO 9](/?l=iso-9-1968), який в свою чергу походить від [гаєвиці](/?l=haievytsia). Існує в двох версіях: з діакритикою та без. Нижче наведено діакритичну версію. Стандарт диктує широкий спектр призначення, проте знаходиться у певній юридичній колізії з [кабмінівською постановою](https://zakon.rada.gov.ua/laws/show/55-2010-%D0%BF#Text). Наразі область його застосування не до кінця зрозуміла.",
    "link": "https://uk.wikipedia.org/wiki/%D0%94%D0%A1%D0%A2%D0%A3_9112:2021",
    "from": "ukr",
    "to": "lat",

    "affectVowelNotConsonantWhenSofting": false,

    "beforeStartDict": {},

    "dict": {
        "и": "y",
        "і": "i",
        
        "й": "j",

        "я": "ja",
        "є": "je",
        "ї": "ï",
        "ю": "ju",
        
        "ґ": "g",
        "г": "ğ",
        "х": "x",
        "ц": "c",
        "щ": "ŝ",
 
        "ж": "ž",     
        "ш": "š",
        "ч": "č",
        "ь": "j",
        
        "а": "a",
        "е": "e",
        "о": "o",
        "у": "u",
        
        "б": "b",
        "п": "p",
        "д": "d",
        "т": "t",
        "к": "k",
        "в": "v",
        "ф": "f",
        "з": "z",
        "с": "s",
        "л": "l",
        "м": "m",
        "н": "n",
        "р": "r"
    },

    "apostrophesSingleKeyDict": {
        "'`‘’": ""
    },

    "substitutionForUndefinedResult" : ""
}