{
    "code": "dstu-9112-b",
    "name": "ДСТУ-9112:2021 Б",
    "year": 2022,
    "desc": "Одна з двох версій системи транслітерації, що її було прийнято в якості держстандарта 2022-го року. Ця — без діакритики, тобто з використанням лише букв латинського алфавіту, а відтак ASCII-сумісна.",
    "link": "https://uk.wikipedia.org/wiki/%D0%94%D0%A1%D0%A2%D0%A3_9112:2021",
    "from": "ukr",
    "to": "lat",

    "affectVowelNotConsonantWhenSofting": false,

    "beforeStartDict": {
        "зг": "zgh"
    },

    "dict": {
        "и": "y",
        "і": "i",
        
        "й": "j",

        "я": "ja",
        "є": "je",
        "ї": "ji",
        "ю": "ju",
        
        "ґ": "g",
        "г": "gh",
        "х": "x",
        "ц": "c",
        "щ": "shch",
 
        "ж": "zh",     
        "ш": "sh",
        "ч": "ch",
        "ь": "j",
        
        "а": "a",
        "е": "e",
        "о": "o",
        "у": "u",
        
        "б": "b",
        "п": "p",
        "д": "d",
        "т": "t",
        "к": "k",
        "в": "v",
        "ф": "f",
        "з": "z",
        "с": "s",
        "л": "l",
        "м": "m",
        "н": "n",
        "р": "r"
    },

    "apostrophesSingleKeyDict": {
        "'`‘’": ""
    },

    "substitutionForUndefinedResult" : ""
}