{
    "code": "iso-9-1995",
    "name": "ISO 9:1995",
    "year": 1995,
    "author": "ISO",
    "desc": "Оновлення [наукової системи](/?l=iso-9-1968) 1995-го року, в якому відійшли від фонетичного до побуквенного відтворення кириличних текстів, що уможливило зворотню транслітерацію за будь-яких умов. В Україні ця система також відома як ГОСТ 7.79 А, втім не набула широкого вжитку.",
    "link": "https://uk.wikipedia.org/wiki/ISO_9",
    "from": "ukr",
    "to": "lat",

    "dict": {
        "и": "i",
        "і": "ì",
        
        "й": "j",

        "я": "â",
        "є": "ê",
        "ї": "ï",
        "ю": "û",
        
        "ґ": "g",
        "г": "g̀",
        "х": "h",
        "ц": "c",
        "щ": "ŝ",
 
        "ж": "ž",     
        "ш": "š",
        "ч": "č",
        "ь": "'",
        
        "а": "a",
        "е": "e",
        "о": "o",
        "у": "u",
        
        "б": "b",
        "п": "p",
        "д": "d",
        "т": "t",
        "к": "k",
        "в": "v",
        "ф": "f",
        "з": "z",
        "с": "s",
        "л": "l",
        "м": "m",
        "н": "n",
        "р": "r"
    },

    "apostrophesSingleKeyDict": {
        "'`‘’": ""
    },

    "substitutionForUndefinedResult" : ""
}