{
    "code": "iso-9-1968",
    "name": "ISO 9:1968",
    "year": 1968,
    "desc": "Оновлений варіант [наукової системи](/?l=naukova-trad), що, як і вона, є фонетичним та зворотнім. Відрізнаяється наявністю апострофа та збереженням ї. Використовується головним чином у мовознавських працях. Обидві значною мірою походять від [гаєвиці](/?l=haievytsia).",
    "link": "https://uk.wikipedia.org/wiki/%D0%9D%D0%B0%D1%83%D0%BA%D0%BE%D0%B2%D0%B0_%D1%82%D1%80%D0%B0%D0%BD%D1%81%D0%BB%D1%96%D1%82%D0%B5%D1%80%D0%B0%D1%86%D1%96%D1%8F_%D0%BA%D0%B8%D1%80%D0%B8%D0%BB%D0%B8%D1%86%D1%96",
    "from": "ukr",
    "to": "lat",

    "useLocationInWordAlgo": false,

    "beforeStartDict": {
    },

    "dict": {
        "и": "y",
        "і": "i",
        
        "й": "j",

        "я": "ja",
        "є": "je",
        "ї": "ï",
        "ю": "ju",
        
        "ґ": "g",
        "г": "h",
        "х": "x",
        "ц": "c",
        "щ": "šč",
 
        "ж": "ž",     
        "ш": "š",
        "ч": "č",
        "ь": "'",
        
        "а": "a",
        "е": "e",
        "о": "o",
        "у": "u",
        
        "б": "b",
        "п": "p",
        "д": "d",
        "т": "t",
        "к": "k",
        "в": "v",
        "ф": "f",
        "з": "z",
        "с": "s",
        "л": "l",
        "м": "m",
        "н": "n",
        "р": "r"
    },

    "apostrophesSingleKeyDict": {
        "'`‘’": "'"
    },

    "substitutionForUndefinedResult" : ""
}