{
    "code": "nice-cyr",
    "name": "Гарна кирилиця",
    "year": null,
    "author": null,
    "desc": "Для того, аби кирилічний текст виглядав гарно та незвично без використання додаткових шрифтів.",
    "link": "",
    "from": "ukr",
    "to": "lat",

    "dict": {
        "а": "ɑ", // α? 
        "А": "Α", // ᗩ?
        "б": "δ",
        "Б": "Б",
        "в": "ɞ", // β? ʙ?
        "В": "Β", // Ɓ?
        "г": "ƨ", // Ƨƨ? г?
        "Г": "Ƭ", // Ƭ?
        "ґ": "ґ",
        "д": "∂", // ɡ?
        "Д": "Ɗ",
        "е": "ε", // ε vs ɛ
        "є": "є",
        "ж": "ж",
        "з": "ʒ", // Ȝȝ? Ꝫꝫ?
        "и": "u",
        "И": "И",
        "і": "ί", // ι̇? ἰ?
        "І": "İ",
        "ї": "ϊ",
        "й": "ŭ",
        "Й": "Й",
        "к": "κ",
        "л": "ʌ",
        "м": "ʍ", // м?
        "М": "M",
        "н": "н",
        "Н": "Η", // Ɦ
        "о": "ο",
        "п": "n",
        "П": "Π",
        "р": "ρ", // Ƿƿ
        //"Р": "Ƥ",
        "с": "c",
        "т": "m",
        "Т": "Τ",
        "у": "y",
        "У": "У",
        "ф": "ɸ",
        "Ф": "Φ",
        "х": "x",
        "Х": "Ӽ",
        "ц": "u̧", //ų
        "Ц": "Ա",
        "ч": "ч",
        //"Ч": "Կ",
        "ш": "ɯ",
        "щ": "ɰ", 
        "Щ": "Ɯ̧",
        "ь": "ь",
        "ю": "ю",
        "я": "я"
    },

    "otherLanguagesLettersDict": {
        "ё": "ε̈",
        "ы": "ьι"
    },

    "apostrophesSingleKeyDict": {
        "'`‘’": "’"
    },

    "specSymbolsDict": {
        "«" : "„",
        "»" : "“"
    },

    "exceptionalCaseRules": {
        "ɰ": "Ɯ̧",
        "ų": "Ա",
        "x": "Ӽ",
        "ɸ": "Φ",
        "y": "У",
        "m": "Τ",
        //"ρ": "Ƥ",
        "n": "Π",
        "н": "Η",
        "ʍ": "M",
        "ŭ": "Й",
        "ί": "İ",
        "u": "И",
        "ɡ": "Ɗ",
        "г": "Ƭ",
        "ɞ": "Β",
        "δ": "Б",
        "ɑ": "Α"
    },

    "substitutionForUndefinedResult" : ""
}