{
    "code": "temivka",
    "name": "Темівка",
    "year": 2021,
    "author": "Тем Шевченко",
    "desc": "Концептуальний проєкт української латинки, оснований на тотожності функцій діакритичної крапки (для пом'якшення) та умлаута (для йотування) над голосними: ı→i⇒ï, a→ȧ⇒ä, e→ė⇒ë, o→ȯ⇒ö, u→u̇⇒ü. Викристовується Темом Шевченком, автором \"руховичка\" цього транслітератора.",
    "from": "ukr",
    "to": "lat",

    "affectVowelNotConsonantWhenSofting": true,
    "useLocationInWordAlgo": false,

    "beforeStartDict": {
        // Підставні букви для однаковості алгоритмів потім:
        "йо": "'ё",   
        "ьо": "ё",     
        "дз": "ѕ",      // "дзе" (не плутати з латинською s)
        "дж": "џ",      // "дже"

        // Закінчення:
        "ий": "y",      // ı + j = y // OPTIONS: Ýý, Ẏẏ, Yy
        "ться": "ʦȧ",
        "ТЬСЯ": "ТЬСЯ"

        ////"уо": "ўо", "ўо", // todo - лише на початку і після голосних, уа, уе, уі
        // todo: пАУза?
    },

    "dict": {
        "и": "ı",
        "і": "i",       // OPTIONS: Ii, İi, Iı
        "І": "İ",
        
        "й": "j",       // OPTIONS: // Jj, Yy

        "я": "ä",
        "є": "ë",
        "ї": "ï",       // OPTIONS: // ji, ï, i
        "ю": "ü",
        
        "ґ": "g",       // OPTIONS: Ǧǧ, Gg, Ǧǧ, Ĝĝ // kg
        "г": "h",       // OPTIONS: Gg, Hh, Ɦɦ, Ǧǧ, Ġġ
        "х": "x",       // OPTIONS: Xx, Hh, Ĥĥ, Ȟȟ, KHkh, CHch
        "ц": "c",       // OPTIONS: Cc, TSts
        "щ": "šč",      // OPTIONS: Şş, Ŝŝ, ŠČšč // sch, shch
       
        "ж": "ž",     
        "ш": "š",
        "ч": "č",       // OPTIONS: // CHch, CZcz, CXcx, CQcq
        
        "а": "a",
        "е": "e",
        "о": "o",
        "у": "u",
        
        "б": "b",
        "п": "p",
        "д": "d",
        "т": "t",
        "к": "k",
        "в": "v",
        "ф": "f",
        "з": "z",
        "с": "s",
        "л": "l",
        "м": "m",
        "н": "n",
        "р": "r"
    },

    "otherLanguagesLettersDict": {
        "ё": "ö",
        "ѕ": "dz",      // OPTIONS: Ƶƶ (італ.), ʣ, Žž, Ẑẑ, 
        "џ": "dž",      // OPTIONS: J̌ǰ, ʤ, Ǯǯ,Ĵĵ, Ĉĉ, Ĝĝ, Đđ, Ɉɉ ідеально було б Ƶƶ з гачком
    
        "ў": "w",       // OPTIONS: Ww, Ŭŭ, V̊v̊
        "э": "ɇ",
        "ы": "ɏ",
        "ъ": "ɉ"
    },

    "apostrophesSingleKeyDict": {
        "'`‘’": ""
    },

    "specSymbolsDict": {
        "«" : "„",
        "»" : "“",
        "№" : "#"
    },

    "softingSignsMultiDict": {
        "ь": {
            "affecting": "",
            "affected": "j"
        }
    },

    "softingVowelsMultiDict": {
        "є": "ė",       // OPTIONS: //je, ie
        "ю": "u̇",       // OPTIONS: //ju, iu
        "я": "ȧ",       // OPTIONS: //ja, ia
        "ьо": "ȯ",

        "ё": "ȯ"
    },

    "softableConsonantsDict": {
        "д": "ď",       // OPTIONS: Ďď, Đđ, D́d́
        "з": "ź",
        "л": "ľ",       // OPTIONS: Ľľ, Łł
        "н": "ń",
        "р": "ŕ",
        "с": "ś",
        "т": "ť",       // OPTIONS: Ťť, Ŧŧ, T́t́
        "ц": "ć",
        "ѕ": "dź"
    },    

    "unsoftableConsonants": [ "б", "в", "г", "ґ", "ж", "к", "м", "п", "ф", "х", "ч", "џ", "ш", "щ" ],

    "afterFinishDict": {
        //"ıï": "yï",   // щоб зберегти Kyïv
        //"ıä": "yä",
        //"ıë": "yë",
        //"ıü": "yü"
    },

    "substitutionForUndefinedResult" : "*"
}