{
    "code": "funny-sms",
    "name": "Смішне SMS",
    "year": 2000,
    "desc": "Транслітерація в дусі перших спроб наших любих бабусь та дідусів написати «есемеску» на телефоні, що не підтримує кирилицю 🙂.",
    "from": "ukr",
    "to": "lat",

    "beforeStartDict": {
    },

    "dict": {
        "а": "a",
        "б": "6",
        "в": "B",
        "г": "r",
        "Г": "r",
        "ґ": "r'",
        "Ґ": "r'",
        "д": "g",
        "Д": "9",
        "е": "e",
        "є": "{",
        "ж": "}+{",
        "з": "3",
        "и": "u",
        "И": "u",
        "і": "i",
        "ї": "i`",
        "й": "u~",
        "к": "k",
        "л": "/\\",
        "м": "M",
        "н": "H",
        "о": "o",
        "п": "[]",
        "р": "p",
        "с": "c",
        "т": "T",
        "у": "y",
        "ф": "qp",
        "Ф": "qp",
        "х": "x",
        "ц": "u,",
        "ч": "4",
        "ш": "w",
        "щ": "w,",
        "ь": "b",
        "Ь": "b",
        "ю": "IO",
        "я": "R"
    },

    "apostrophesSingleKeyDict": {
        "'`‘’": "\""
    },

    "substitutionForUndefinedResult" : ""
}