{
    "code": "pingvinivka",
    "name": "Пінґвінівка",
    "year": 2007,
    "desc": "Варіант української латинки від [Полярного Птаха](https://web.archive.org/web/20190917183140/https://polar-bird.livejournal.com/profile), де для простоти засвоєння кожній літері кирилічної абетки відповідає літера латинки.",
    "link": "https://web.archive.org/web/20190917183123/https://polar-bird.livejournal.com/220554.html",
    "from": "ukr",
    "to": "lat",

    "dict": {
        "а": "a",
        "б": "b",
        "в": "v",
        "г": "h",
        "ґ": "g",
        "д": "d",
        "е": "e",
        "є": "ë",
        "ж": "ž",
        "з": "z",
        "и": "y",
        "і": "i",
        "ї": "ï",
        "й": "j",
        "к": "k",
        "л": "l",
        "м": "m",
        "н": "n",
        "о": "o",
        "п": "p",
        "р": "r",
        "с": "s",
        "т": "t",
        "у": "u",
        "ф": "f",
        "х": "x",
        "ц": "c",
        "ч": "č",
        "ш": "š",
        "щ": "ş",
        "ь": "q",
        "ю": "ü",
        "я": "ä"  
    },

    "otherLanguagesLettersDict": {
        "ё": "ö",
        "ѕ": "dz",
        "џ": "dž",
        "ў": "ŭ",
        "э": "ê",
        "ы": "ŷ",
        "ъ": "ô"
    },

    "apostrophesSingleKeyDict": {
        "": ""
    },

    "substitutionForUndefinedResult" : ""
}