{
    "code": "tem-shevchenko",
    "name": "Темівка (б/д)",
    "year": 2021,
    "desc": "Темівка бездіакритична.",
    "from": "ukr",
    "to": "lat",

    "affectVowelNotConsonantWhenSofting": true,
    "useLocationInWordAlgo": false,

    "beforeStartDict": {
        "зг": "zgh",
        
        // Підставні букви для однаковості алгоритмів потім:
        "йо": "ё",   
        "ьо": "ё",     
        "дз": "ѕ",     // "дзе" (не плутати з латинською s)
        "дж": "џ"      // "дже"

        ////"уо": [ "ўо", "ўо" ], // todo - лише на початку і після голосних, уа, уе, уі
        // todo: пАУза?
    },

    "dict": {
        "и": "y",
        "і": "i",           // OPTIONS: Ii, İi, Iı
        
        "й": "j",           // OPTIONS: // Jj, Yy

        "я": "ja",
        "є": "je",
        "ї": "ï",      // OPTIONS: // ji, ï, i
        "ю": "ju",
        
        "ґ": "g",      // OPTIONS: Ǧǧ, Gg, Ǧǧ, Ĝĝ // kg
        "г": "h",           // OPTIONS: Gg, Hh, Ǧǧ, Ġġ
        "х": "x",           // OPTIONS: Xx, Hh, Ĥĥ, Ȟȟ, KHkh, CHch
        "ц": "c",           // OPTIONS: Cc, TSts
        "щ": "sch",   // OPTIONS: Şş, Ŝŝ, ŠČšč // sch, shch
       
        "ж": "zh",     
        "ш": "sh",
        "ч": "ch",     // OPTIONS: // CHch, CZcz, CXcx, CQcq
        
        "а": "a",
        "е": "e",
        "о": "o",
        "у": "u",
        
        "б": "b",
        "п": "p",
        "д": "d",
        "т": "t",
        "к": "k",
        "в": "v",
        "ф": "f",
        "з": "z",
        "с": "s",
        "л": "l",
        "м": "m",
        "н": "n",
        "р": "r"
    },

    "otherLanguagesLettersDict": {
        "ё": "jo",
        "ѕ": "dz",          // OPTIONS: Ƶƶ (італ.), ʣ, Žž, Ẑẑ, 
        "џ": "dzh",   // OPTIONS: J̌ǰ, ʤ, Ǯǯ,Ĵĵ, Ĉĉ, Ĝĝ, Đđ, Ɉɉ ідеально було б Ƶƶ з гачком
    
        "ў": "w",               // OPTIONS: Ww, Ŭŭ, V̊v̊
        "э": "ɇ",
        "ы": "ɏ",
        "ъ": "ɉ"
    },

    "apostrophesSingleKeyDict": {
        "'`‘’": ""
    },

    "specSymbolsDict": {
        "«" : "\"",
        "»" : "\"",
        "№" : "#"
    },

    "softingSignsMultiDict": {
        "ь": {
            "affecting": "",
            "affected": "j"
        }
    },

    "softingVowelsMultiDict": {
        "є": "ie",     // OPTIONS: //je, ie
        "ю": "iu",     // OPTIONS: //ju, iu
        "я": "ia",     // OPTIONS: //ja, ia
        "ьо": "io",

        "ё": "io"
    },

    "softableConsonantsDict": {
        "д": "dj",     // OPTIONS: Ďď, Đđ, D́d́
        "з": "zj",
        "л": "lj",     // OPTIONS: Ľľ, Łł
        "н": "nj",
        "р": "rj",
        "с": "sj",
        "т": "tj",     // OPTIONS: Ťť, Ŧŧ, T́t́
        "ц": "cj",
        "ѕ": "dzj"
    },    

    "unsoftableConsonants": [ "б", "в", "г", "ґ", "ж", "к", "м", "п", "ф", "х", "ч", "џ", "ш", "щ" ],

    "afterFinishDict": {
    },

    "substitutionForUndefinedResult" : "*"
}