{
    "code": "temivka",
    "name": "Темівка",
    "year": 2021,
    "author": "Тем Шевченко",
    "desc": "Концептуальний проєкт української латинки, оснований на тотожності функцій діакритичної крапки (для пом'якшення) та умлаута (для йотування) над голосними: ı→i⇒ï, a→ȧ⇒ä, e→ė⇒ë, o→ȯ⇒ö, u→u̇⇒ü. Викристовується Темом Шевченком, автором \"руховичка\" цього транслітератора.",
    "from": "ukr",
    "to": "lat",

    "affectVowelNotConsonantWhenSofting": true,
    "useLocationInWordAlgo": false,

    "beforeStartDict": {
        // Підставні букви для однаковості алгоритмів потім:
        "йо": "'ё",   
        "ьо": "ё",     
        "дз": "ѕ",      // "дзе" (не плутати з латинською s)
        "дж": "џ",      // "дже"

        // Закінчення:
        "ий": "y",      // ı + j = y // OPTIONS: Ýý, Ẏẏ, Yy
        "ться": "ʦȧ",
        "ТЬСЯ": "ТЬСЯ",

        // Префікс на -д + з або ж - зберігати окремі літери:
        //TODO: надзюрити?? передзвонити??
        
        "відз": "віdз",
        "відж": "віdж",
        "одз": "оdз",
        "одж": "оdж",
        "надз": "наdз",
        "надж": "наdж",
        "передз": "переdз",
        "передж": "переdж",
        "підз": "піdз",
        "підж": "піdж",
        "предз": "преdз",
        "предж": "преdж"

        ////"уо": "ўо", "ўо", // todo - лише на початку і після голосних, уа, уе, уі
        // todo: пАУза?
    },

    "dict": {
        "и": "ı",
        "і": "i",       // OPTIONS: Ii, İi, Iı
        "І": "İ",
        
        "й": "j",       // OPTIONS: // Jj, Yy

        "я": "ä",
        "є": "ë",
        "ї": "ï",       // OPTIONS: // ji, ï, i
        "ю": "ü",
        
        "ґ": "g",       // OPTIONS: Ǧǧ, Gg, Ǧǧ, Ĝĝ // kg
        "г": "h",       // OPTIONS: Gg, Hh, Ɦɦ, Ǧǧ, Ġġ
        "х": "x",       // OPTIONS: Xx, Hh, Ĥĥ, Ȟȟ, KHkh, CHch
        "ц": "c",       // OPTIONS: Cc, TSts
        "щ": "ŝ",      // OPTIONS: Şş, Ş̌ş̌, Ŝŝ, ŠČšč, Ꞩ̌ꞩ̌, Ȼ̌ȼ̌, S̃s̃ // sch, shch
       
        "ж": "ž",     
        "ш": "š",
        "ч": "č",       // OPTIONS: // CHch, CZcz, CXcx, CQcq
        
        "а": "a",
        "е": "e",
        "о": "o",
        "у": "u",
        
        "б": "b",
        "п": "p",
        "д": "d",
        "т": "t",
        "к": "k",
        "в": "v",
        "ф": "f",
        "з": "z",
        "с": "s",
        "л": "l",
        "м": "m",
        "н": "n",
        "р": "r"
    },

    "otherLanguagesLettersDict": {
        "ё": "ö",
        "ѕ": "ƶ",      // OPTIONS: Ƶƶ (італ.), ʣ, Žž, Ẑẑ, dz, Z̧z̧, Ⱬⱬ, Ȥȥ
        "џ": "ƶ̌",      // OPTIONS: Ƶ̌ƶ̌, Ɉɉ, J̌ǰ, ʤ, Ǯǯ,Ĵĵ, Ĉĉ, Ĝĝ, Đđ, Ž̧ž̧, Ⱬ̌ⱬ̌, Ȥ̌ȥ̌, dž
    
        "ў": "w",       // OPTIONS: Ww, Ŭŭ, V̊v̊
        "э": "ɇ",
        "ы": "ɏ",
        "ъ": "ɉ"
    },

    "apostrophesSingleKeyDict": {
        "'`‘’": ""
    },

    "specSymbolsDict": {
        "«" : "„",
        "»" : "“",
        "№" : "#"
    },

    "softingSignsMultiDict": {
        "ь": {
            "affecting": "",
            "affected": "j"
        }
    },

    "softingVowelsMultiDict": {
        "є": "ė",       // OPTIONS: //je, ie
        "ю": "u̇",       // OPTIONS: //ju, iu
        "я": "ȧ",       // OPTIONS: //ja, ia
        "ьо": "ȯ",

        "ё": "ȯ"
    },

    "softableConsonantsDict": {
        "д": "ď",       // OPTIONS: Ďď, Đđ, D́d́
        "з": "ź",
        "л": "ľ",       // OPTIONS: Ľľ, Łł
        "н": "ń",
        "р": "ŕ",
        "с": "ś",
        "т": "ť",       // OPTIONS: Ťť, Ŧŧ, T́t́
        "ц": "ć",   
        "ѕ": "ƶ́"        // OPTIONS: dź
    },    

    "unsoftableConsonants": [ "б", "в", "г", "ґ", "ж", "к", "м", "п", "ф", "х", "ч", "џ", "ш", "щ" ],

    "afterFinishDict": {
        "Kıïv": "Kyiv"
        //"ıï": "yï",   // щоб зберегти Kyïv
        //"ıä": "yä",
        //"ıë": "yë",
        //"ıü": "yü"
    },

    "substitutionForUndefinedResult" : "*"
}

"DICT": {
    "И": "I",
    "І": "I",       // OPTIONS: II, İI, II
    "І": "İ",
    
    "Й": "J",       // OPTIONS: // JJ, YY

    "Я": "Ä",
    "Є": "Ë",
    "Ї": "Ï",       // OPTIONS: // JI, Ï, I
    "Ю": "Ü",
    
    "Ґ": "G",       // OPTIONS: ǦǦ, GG, ǦǦ, ĜĜ // KG
    "Г": "H",       // OPTIONS: GG, HH, ꞪꞪ, ǦǦ, ĠĠ
    "Х": "X",       // OPTIONS: XX, HH, ĤĤ, ȞȞ, KHKH, CHCH
    "Ц": "C",       // OPTIONS: CC, TSTS
    "Щ": "Ŝ",      // OPTIONS: ŞŞ, Ş̌Ş̌, ŜŜ, ŠČŠČ, Ꞩ̌Ꞩ̌, Ȼ̌Ȼ̌, S̃S̃ // SCH, SHCH
   
    "Ж": "Ž",     
    "Ш": "Š",
    "Ч": "Č",       // OPTIONS: // CHCH, CZCZ, CXCX, CQCQ
    
    "А": "A",
    "Е": "E",
    "О": "O",
    "У": "U",
    
    "Б": "B",
    "П": "P",
    "Д": "D",
    "Т": "T",
    "К": "K",
    "В": "V",
    "Ф": "F",
    "З": "Z",
    "С": "S",
    "Л": "L",
    "М": "M",
    "Н": "N",
    "Р": "R"
},

"OTHERLANGUAGESLETTERSDICT": {
    "Ё": "Ö",
    "Ѕ": "Ƶ",      // OPTIONS: ƵƵ (ІТАЛ.), ʣ, ŽŽ, ẐẐ, DZ, Z̧Z̧, ⱫⱫ, ȤȤ
    "Џ": "Ƶ̌",      // OPTIONS: Ƶ̌Ƶ̌, ɈɈ, J̌J̌, ʤ, ǮǮ,ĴĴ, ĈĈ, ĜĜ, ĐĐ, Ž̧Ž̧, Ⱬ̌Ⱬ̌, Ȥ̌Ȥ̌, DŽ

    "Ў": "W",       // OPTIONS: WW, ŬŬ, V̊V̊
    "Э": "Ɇ",
    "Ы": "Ɏ",
    "Ъ": "Ɉ"
},

"APOSTROPHESSINGLEKEYDICT": {
    "'`‘’": ""
},

"SPECSYMBOLSDICT": {
    "«" : "„",
    "»" : "“",
    "№" : "#"
},

"SOFTINGSIGNSMULTIDICT": {
    "Ь": {
        "AFFECTING": "",
        "AFFECTED": "J"
    }
},

"SOFTINGVOWELSMULTIDICT": {
    "Є": "Ė",       // OPTIONS: //JE, IE
    "Ю": "U̇",       // OPTIONS: //JU, IU
    "Я": "Ȧ",       // OPTIONS: //JA, IA
    "ЬО": "Ȯ",

    "Ё": "Ȯ"
},

"SOFTABLECONSONANTSDICT": {
    "Д": "Ď",       // OPTIONS: ĎĎ, ĐĐ, D́D́
    "З": "Ź",
    "Л": "Ľ",       // OPTIONS: ĽĽ, ŁŁ
    "Н": "Ń",
    "Р": "Ŕ",
    "С": "Ś",
    "Т": "Ť",       // OPTIONS: ŤŤ, ŦŦ, T́T́
    "Ц": "Ć",   
    "Ѕ": "Ƶ́"        // OPTIONS: DŹ
},    

"UNSOFTABLECONSONANTS": [ "Б", "В", "Г", "Ґ", "Ж", "К", "М", "П", "Ф", "Х", "Ч", "Џ", "Ш", "Щ" ],

"AFTERFINISHDICT": {
    "KIÏV": "KYIV"
    //"IÏ": "YÏ",   // ЩОБ ЗБЕРЕГТИ KYÏV
    //"IÄ": "YÄ",
    //"IË": "YË",
    //"IÜ": "YÜ"
},

"SUBSTITUTIONFORUNDEFINEDRESULT" : "*"
}