{
    "code": "abecadlo",
    "name": "Абецадло",
    "year": 1835,
    "author": "Йосип Лозинський",
    "desc": "Проєкт української (руської) латинської абетки, розроблений українським греко-католицьким священиком Йосипом Лозинським на основі польського алфавіту (абецадла). Вперше опублікований у Львові 1834 року. Спрощена версія, без особливостей етимологічного характеру з особливим вживанням é, ł, ó та ін. (наприклад, opysał замість opysaw, świato замість swiato, чи Ukraina замість Ukrajina). Також додане використання дієрезисів (ä, ë, ö, ü) для роздільного читання двох літер, які позначають голосні звуки (наприклад, Уляна – Uliana, але ліана – liäna).",
    "link": "https://uk.wikipedia.org/wiki/%D0%90%D0%B1%D0%B5%D1%86%D0%B0%D0%B4%D0%BB%D0%BE",
    "from": "ukr",
    "to": "lat",

    "useLocationInWordAlgo": true,
    "affectVowelNotConsonantWhenSofting": true, 

    "beforeStartDict": {
        "іа": [ "ia", "iä", "iä" ],
        "іе": [ "ie", "ië", "ië" ],
        "іо": [ "io", "iö", "iö" ],
        "іу": [ "iu", "iü", "iü" ]
    },

    "dict": {
        "и": "y",
        "і": "i",
        
        "й": "j",

        "я": "ja",
        "є": "je",
        "ї": [ "ji", "ji", "ji" ],
        "ю": "ju",
        
        "ґ": "g",
        "г": "h",
        "х": "ch",
        "ц": "c",
        "щ": "szcz",
 
        "ж": "ż",     
        "ш": "sz",
        "ч": "cz",
        
        "а": "a",
        "е": "e",
        "о": "o",
        "у": "u",
        "б": "b",
        "п": "p",
        "д": "d",
        "т": "t",
        "к": "k",
        "в": "w",
        "ф": "f",
        "з": "z",
        "с": "s",
        "л": "ł",
        "м": "m",
        "н": "n",
        "р": "r"
    },

    "apostrophesSingleKeyDict": {
        "'`‘’": ""
    },

    "softingSignsMultiDict": {
        "ь": {
            "affecting": "",
            "affected": ""
        }
    },

    "softingVowelsMultiDict": {
        "є": "ie",
        "ю": "iu",
        "я": "ia",
        "ьо": "io"
    },

    "softableConsonantsDict": {
        "д": "ď",
        "з": "ź",
        "л": "l",
        "н": "ń",
        "р": "ŕ",
        "с": "ś",
        "т": "ť",
        "ц": "ć"
    },    

    "unsoftableConsonants": [ "б", "в", "г", "ґ", "ж", "к", "м", "п", "ф", "х", "ч", "ш", "щ" ],

    "afterFinishDict": {
        "łia": "la",
        "łiu": "lu",
        "łie": "le",
        "łio": "lo",
        
        "łIa": "la",
        "łIu": "lu",
        "łIe": "le",
        "łIo": "lo",

        "łi": "li",
        "łl": "ll"
    },

    "substitutionForUndefinedResult" : ""
}