{
    "code": "heohraf",
    "name": "Географічна",
    "year": 1996,
    "author": "Українська комісія з питань правничої термінології (УКППТ)",
    "desc": "Транслітерація згідно з нормативною таблицею для відтворення українських власних назв засобами англійської мови у законодавчих та офіційних актах, затвердженою Українською комісією з питань правничої термінології (УКППТ) у 1996-му році. Найчастіше саме її (або близьку до неї [паспортну](/?l=pasport)) можна побачити на мапах або адресних покажчиках.",
    "link": "https://uk.wikipedia.org/wiki/%D0%9B%D0%B0%D1%82%D0%B8%D0%BD%D1%96%D0%B7%D0%B0%D1%86%D1%96%D1%8F_%D1%83%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D1%81%D1%8C%D0%BA%D0%BE%D1%97_%D0%BC%D0%BE%D0%B2%D0%B8",
    "from": "ukr",
    "to": "lat",

    "useLocationInWordAlgo": true,

    "beforeStartDict": {
        "зг": "zgh"
    },

    "dict": {
        "и": "y",
        "і": "i",
        
        "й": [ "y", "i" , "i" ],

        "я": [ "ya", "ia", "ia" ],
        "є": [ "ye", "ie", "ie" ],
        "ї": [ "yi", "i", "i" ],
        "ю": [ "yu", "iu", "iu" ],
        
        "ґ": "g",
        "г": "h",
        "х": "kh",
        "ц": "ts",
        "щ": "sch",
        
        "ж": "zh",
        "ш": "sh",
        "ч": "ch",
        "ь": "'",
        
        "а": "a",
        "е": "e",
        "о": "o",
        "у": "u",
        
        "б": "b",
        "п": "p",
        "д": "d",
        "т": "t",
        "к": "k",
        "в": "v",
        "ф": "f",
        "з": "z",
        "с": "s",
        "л": "l",
        "м": "m",
        "н": "n",
        "р": "r"
    },

    "apostrophesSingleKeyDict": {
        "": ""
    },

    "substitutionForUndefinedResult" : ""
}