{
    "code": "naukova-trad",
    "name": "Наукова (традиційна)",
    "year": 1898,
    "author": null,
    "desc": "В 1899 році в Берліні було видано «Інструкції для алфавітних каталогів прусських бібліотек і прусського загального каталогу» (відомі як «Прусські інструкції» – Preußische Instruktionen), в яких було запропоновано спосіб транслітерації кирилиці (оскільки книги, надруковані кирилицею, треба було хоч якось класифіковувати і заносити до каталогів).",
    "link": "http://latynka.tak.today/works/naukovyj-trad/",
    "from": "ukr",
    "to": "lat",

    "useLocationInWordAlgo": false,

    "beforeStartDict": {
    },

    "dict": {
        "и": "y",
        "і": "i",
        
        "й": "j",

        "я": "ja",
        "є": "je",
        "ї": "ji",
        "ю": "ju",
        
        "ґ": "g",
        "г": "h",
        "х": "x",
        "ц": "c",
        "щ": "šč",
        
        "ж": "ž",
        "ш": "š",
        "ч": "č",
        "ь": "ʹ",
        
        "а": "a",
        "е": "e",
        "о": "o",
        "у": "u",
        
        "б": "b",
        "п": "p",
        "д": "d",
        "т": "t",
        "к": "k",
        "в": "v",
        "ф": "f",
        "з": "z",
        "с": "s",
        "л": "l",
        "м": "m",
        "н": "n",
        "р": "r"
    },

    "apostrophesSingleKeyDict": {
        "'`‘’": ""
    },

    "substitutionForUndefinedResult" : ""
}