{
    "code": "pasport",
    "name": "Паспортна",
    "year": 2010,
    "author": "Кабінет Міністрів України",
    "desc": "Офіційна транслітерація, затверджена Кабміном у 2010-му році.",
    "link": "https://zakon.rada.gov.ua/laws/show/55-2010-%D0%BF#Text",
    "from": "ukr",
    "to": "lat",

    "useLocationInWordAlgo": true,

    "beforeStartDict": {
        "зг": "zgh"
    },

    "dict": {
        "и": "y",
        "і": "i",
        
        "й": [ "y", "i" , "i" ],

        "я": [ "ya", "ia", "ia" ],
        "є": [ "ye", "ie", "ie" ],
        "ї": [ "yi", "i", "i" ],
        "ю": [ "yu", "iu", "iu" ],
        
        "ґ": "g",
        "г": "h",
        "х": "kh",
        "ц": "ts",
        "щ": "shch",
        
        "ж": "zh",
        "ш": "sh",
        "ч": "ch",
        "ь": "",
        
        "а": "a",
        "е": "e",
        "о": "o",
        "у": "u",
        
        "б": "b",
        "п": "p",
        "д": "d",
        "т": "t",
        "к": "k",
        "в": "v",
        "ф": "f",
        "з": "z",
        "с": "s",
        "л": "l",
        "м": "m",
        "н": "n",
        "р": "r"
    },

    "apostrophesSingleKeyDict": {
        "'`‘’": ""
    },

    "substitutionForUndefinedResult" : ""
}