{
    "code": "tkpn",
    "name": "ТКПН",
    "year": 1995,
    "author": "Термінологічна комісія з природничих наук (ТКПН) Київського університету",
    "desc": "Проєкт Термінологічної комісії з природничих наук (ТКПН) при Київському університеті. Відрізняється повною відсутністю діакритики (ASCII-сумісністю) та зворотністю. Попри позитивну оцінку низки інституцій не отримав статус стандарту.", 
    "link": "http://web.archive.org/web/20210923121836/http://latynka.tak.today/works/tkpn/",
    "from": "ukr",
    "to": "lat",

    "affectVowelNotConsonantWhenSofting": false,

    "dict": {
        "и": "y",
        "і": "i",
        
        "й": "j",

        "я": "ja",
        "є": "je",
        "ї": "ji",
        "ю": "ju",
        
        "ґ": "g",
        "г": "gh",
        "х": "kh",
        "ц": "c",
        "щ": "shh",
 
        "ж": "zh",     
        "ш": "sh",
        "ч": "ch",
        "ь": "j",
        
        "а": "a",
        "е": "e",
        "о": "o",
        "у": "u",
        
        "б": "b",
        "п": "p",
        "д": "d",
        "т": "t",
        "к": "k",
        "в": "v",
        "ф": "f",
        "з": "z",
        "с": "s",
        "л": "l",
        "м": "m",
        "н": "n",
        "р": "r"
    },

    "apostrophesSingleKeyDict": {
        "'`‘’": "'"
    },

    "substitutionForUndefinedResult" : ""
}