{
    "code": "jireckivka",
    "name": "Їречківка",
    "year": 1859,
    "author": "Йосиф Їречек",
    "desc": "Проєкт латинської абетки для української (руської) мови, укладений чеським філологом Йосифом Їречеком на основі чеського ж правопису. «Пропозиція» Їречека опублікована 1859 року. Подано спрощену версію без діялектичних ě, ü, ł, eu та ou.",
    "link": "https://uk.wikipedia.org/wiki/%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D1%81%D1%8C%D0%BA%D0%B0_%D0%BB%D0%B0%D1%82%D0%B8%D0%BD%D0%BA%D0%B0#%D0%9F%D1%80%D0%B0%D0%B2%D0%BE%D0%BF%D0%B8%D1%81_%D0%87%D1%80%D0%B5%D1%87%D0%BA%D0%B0",
    "source-link": "https://books.google.com.ua/books?hl=uk&id=KU1dAAAAcAAJ&q=ll#v=onepage&q&f=false",
    "from": "ukr",
    "to": "lat",

    "affectVowelNotConsonantWhenSofting": false,

    "beforeStartDict": {
    },

    "dict": {
        "и": "y",
        "і": "i",
        
        "й": "j",

        "я": "ja",
        "є": "je",
        "ї": "ji",
        "ю": "ju",
        
        "ґ": "g",
        "г": "h",
        "х": "ch",
        "ц": "c",
        "щ": "šč",
 
        "ж": "ž",     
        "ш": "š",
        "ч": "č",
        
        "а": "a",
        "е": "e",
        "о": "o",
        "у": "u",
        
        "б": "b",
        "п": "p",
        "д": "d",
        "т": "t",
        "к": "k",
        "в": "v",
        "ф": "f",
        "з": "z",
        "с": "s",
        "л": "l",
        "м": "m",
        "н": "n",
        "р": "r"
    },

    "apostrophesSingleKeyDict": {
        "'`‘’": ""
    },

    "softingSignsMultiDict": {
        "ь": {
            "affecting": "",
            "affected": ""
        }
    },

    "softingVowelsMultiDict": {
        "є": {
            "affecting": "e",
            "affected": "je"
        },
        "ю": {
            "affecting": "u",
            "affected": "ju"
        },
        "я": {
            "affecting": "a",
            "affected": "ja"
        },
        "ьо": {
            "affecting": "o",
            "affected": "jo"
        }
    },

    "softableConsonantsDict": {
        "д": "ď",
        "з": "ź",
        "л": "ľ",
        "н": "ń",
        "р": "ŕ",
        "с": "ś",
        "т": "ť",
        "ц": "ć"
    },    

    "unsoftableConsonants": [ "б", "в", "г", "ґ", "ж", "к", "м", "п", "ф", "х", "ч", "ш", "щ" ],

    "afterFinishDict": {
        // "dď": "ďď",
        // "zź": "źź",
        // "lľ": "ľľ",
        // "nń": "ńń",
        // "rŕ": "ŕŕ",
        // "sś": "śś",
        // "tť": "ťť",
        // "cć": "ćć"
    },

    "substitutionForUndefinedResult" : ""
}